@import "../../colors";

.wrapper {
  position: relative;
  margin-left: calc(100vw - 100%);
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: $grayDark;
}

.toggles {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
}

.block {
  width: 65vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex-basis: 160px;
  width: 100%;
  padding-top: 10px;
}

.section {
  padding-top: 40px;
  display: flex;
}

.listTags {
  list-style-type: none;
}

.listProjects {
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
