@import "../../../colors";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: transparentize($grayDark, 0.1);
}

.block {
  width: 65vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex-basis: 80px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0 100px 0;
}

.listMenu,
.listSocial {
  display: flex;
  list-style-type: none;
}

.listMenu {
  padding-top: 40px;
}

.listSocial {
  max-width: 600px;
}
