$grayDark: hsla(0, 0%, 16%, 1);
$grayLight: hsla(0, 0%, 67%, 1);
$turquoise: hsla(172, 85%, 44%, 1);
$orange: hsla(9, 100%, 64%, 1);
$fuchsia: hsla(300, 59%, 67%, 1);
$yellow: hsla(67, 68%, 68%, 1);
$turquoiseDark:  hsla(186, 100%, 36%, 1);
$white: hsla(0, 0%, 100%, 1);
