@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"),
  url("./assets/fonts/Inconsolata-Regular.woff") format("woff"),
  url("./assets/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"),
  url("./assets/fonts/Inconsolata-Bold.woff") format("woff"),
  url("./assets/fonts/Inconsolata-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"),
  url("./assets/fonts/PlayfairDisplay-Bold.woff") format("woff"),
  url("./assets/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
